*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    background-color: rgb(32, 32, 32);
    color:rgb(243, 243, 243);
}

html{
    font-size: 62.5%;
}

.herosection{
    height: 100%;
    padding: 7rem 0;
    display:flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-right-part img{
    width: 100%;
}

.hero-left-part {
    width: 50%;
    font-size: 1.6rem;
}

.hero-border-and-heading{
    display: flex;
    align-items: center;
}

.hero-left-part h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
}
.colored-heading{
    color: #3ecbe7;
}
.hero-content{
    margin-top: 2rem;
    width:70%;
    
}

.style-border{
    margin-top: 0.7rem;
    height: 11rem;
    border: 3px solid #e63946;
    border-radius: 2rem;

    
}


.hero-left-part h1{
    margin-left: 2rem;;

}

.button{
    display: inline-block;
    padding: 1.1rem 4.5rem;
    background-color: #e63946;
    margin: 2.5rem 0;
    text-decoration: none;
    list-style: none;
    color:white;
    border-radius: 1rem;
    border: 2px solid #e63946;
    font-weight: 500;
}
.button:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color:black;
}

/* Mission-Section */

.mission-section h1{
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
}

.mission-section{
    height: 100%;
    width: 80%;
    margin: 8.2rem auto;
    padding: 3rem 0;

}

.mission-section h2{
    margin: 0.7rem 0;
    font-size: 2.5rem;
}

.mission-cards{
    display:flex;
    margin: 4.8rem 0;
    justify-content: center; 
    
}

.mission-cards img{
    width: 50%;
}

.mission-cards div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-size: 1.3rem;
    font-weight: 500;
    width: 350px;
    height: 400px;
    padding: 0rem 3rem;
    margin:0 1.6rem;
    border-radius: 1rem;
    box-shadow: -2px 5px 15px rgba(26, 26, 26, 0.144);
    color:rgb(32, 32, 32);
    
}

.mission{
    background-color: #90e0ef;
    
}
.vision{
    background-color: #fad2e1 ;
}

.goals{
    background-color:#c8dbff ;
}



/* learn-expand */

.learn-expand {
    height: 100%;  
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 9rem 15rem;

}

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    padding:10rem 0;
    align-items: center;
    font-size: 1.4rem;    
}

.learn-expand h1{
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    width: 60%;
    
}


.learn-expand-leftside img{
    width: 60%;
    
}
.learn-expand-leftside{
    text-align: left;
    
}



/* expand my network section */

.expand-my-network{
  height: 100%;
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 160rem 45rem;
}

.network-rightside img{
    width : 60%;
    
}

.network-leftside h1{
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    width: 60%;
}
.network-leftside p{
    width: 80%;
}
.network-rightside{
    text-align: right;
}












/* footer section */


footer{
    text-align: center;
    padding: 4rem 0 4rem 0;
    font-size: 1.4rem;
    background-color: #0B0D17;
}
footer h1{
    font-family: 'Lobster', cursive;
    font-size:3.6rem;
    margin-bottom:1rem ;
}
footer span{
    color: #e63946;
    font-family: 'Lobster', cursive;
}

footer p{
    color: rgb(173, 173, 173);
}

/* contact section */

.contact-section{
    padding: 3rem 0;
    height: 100%;

}

#getintouch{
    text-align: center;
    font-size: 6rem;
    padding: 5rem 0;
    font-weight: 700;
}

.contact-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content:space-between;

    
}


.contact-right form{
    display: flex;
    flex-direction: column;
}

.contact-left h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}
.contact-right p{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:4rem;
    margin-bottom: 1.5rem;
}
.contact-left ul {
    list-style-type: none;
    font-size: 1.6rem;
}

.contact-left ul li{
    line-height: 5rem;
    margin-top: 3rem;
}

.contact-container ul li i{
    font-size: 2rem;
    padding-right: 2rem;
    color: #e63946;
}







/* form */

form input{
    width: 50rem;
    height: 5rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px ;


}

#message{
    
    height: 20rem;
 
}

.form-btn{
    width:15rem;
    cursor: pointer;
    background-color: #e63946;
    color: white;
    font-weight: 500;
    border: 2px solid #e63946;
}

.form-btn:hover{
    background: white;
    color:#e63946;
    border: 2px solid white;
}