*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    background-color: rgb(32, 32, 32);
    color:rgb(243, 243, 243);
}

html{
    font-size: 62.5%;
}

.herosection{
    height: 70vh;
    display:flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-right-part img{
    width: 100%;
}
.hero-left-part {
    width: 50%;
    font-size: 1.6rem;
}

.hero-left-part h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
}
.colored-heading{
    color: #3ecbe7;
}
.hero-content{
    margin-top: 2rem;
    width:70%;
    
}
.style-border{
    border-left: 5px solid #e63946;
    
    
}
.style-border h1{
    margin-left: 1rem;;

}

.button{
    display: inline-block;
    padding: 1.1rem 4.5rem;
    background-color: #e63946;
    margin: 2.5rem 0;
    text-decoration: none;
    list-style: none;
    color:white;
    border-radius: 1rem;
    border: 2px solid #e63946;
    font-weight: 500;
}
.button:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color:black;
}

/* Mission-Section */

.mission-section h1{
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
}

.mission-section{
    height: 70vh;
    width: 80%;
    margin: 8.2rem auto;

}

.mission-section h2{
    margin: 0.7rem 0;
    font-size: 2.5rem;
}

.mission-cards{
    display:flex;
    margin: 4.8rem 0;
    justify-content: center;
    
   
    
}

.mission-cards img{
    width: 50%;
}

.mission-cards div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-size: 1.3rem;
    width: 350px;
    height: 400px;
    padding: 0rem 3rem;
    margin:0 1.6rem;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;
    box-shadow: -2px 5px 15px rgba(26, 26, 26, 0.144);
    color:rgb(32, 32, 32);
    
}

.mission{
    background-color: #90e0ef;
    
}
.vision{
    background-color: #fad2e1 ;
}

.goals{
    background-color:#c8dbff ;
}



/* learn-expand */

.learn-expand {
    height: 60vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 1.4rem;
   
    

}

.learn-expand h1{
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    width: 60%;
    
}


.learn-expand-leftside img{
    width: 60%;
    
}
.learn-expand-leftside{
    text-align: left;
    
}
.learn-expand-rightside p{
    width: 80%;
}

/* expand my network section */

.expand-my-network{
    height: 60vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 1.4rem;

}

.network-rightside img{
    width : 60%;
    
}

.network-leftside h1{
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    width: 60%;
}
.network-leftside p{
    width: 80%;
}
.network-rightside{
    text-align: right;
}
